body,
html {
  font-size: 10px;
  font-family: "Cairo", sans-serif;
}

* {
  vertical-align: text-bottom;
}

.sidebaritem {
  cursor: pointer;
}

.sidebaritem svg {
  margin-right: 1.2rem;
  stroke-width: 5px;
  fill: rgb(113, 117, 132);
}

.activesidebar {
  color: rgb(238, 239, 239);
  background: rgba(255, 255, 255, 0.131);
}

.activesidebar svg {
  fill: rgb(238, 239, 239);
}

.activesubsidebar {
  color: rgb(100, 82, 231);
  font-weight: 700;
  background: rgba(91, 115, 232, 0.27);
}

.activesubsidebar svg {
  fill: rgb(100, 82, 231) !important;
}

.secondsidebar svg {
  fill: #949090;
}

.secondsidebar:hover {
  color: rgb(100, 82, 231);

  background: rgba(91, 115, 232, 0.27);
}

.secondsidebar:hover svg {
  fill: rgb(100, 82, 231);
}

.inputtable td {
  vertical-align: middle;

  padding: 1.1rem 1.5rem;
}

.inputtable2 td {
  vertical-align: middle;

  padding: 1.1rem 0.5rem !important;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.numberinput {
  text-indent: 1rem;
  font-size: 1.5rem;
}

#table tbody {
  width: 100%;
  display: table;
  border-radius: 20rem;
}

.checboxinput {
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.checkmark {
  z-index: 30;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid #ddd;
}

.checkmark:after {
  content: "";
  width: 11px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 1.5px;
  height: 11px;
  background-color: #ddd;
  transform: translate(-50%, -50%);
}

.checboxinput:checked~.checkmark:after {
  background-color: rgb(100, 82, 231);
}

.checboxinput:checked~.checkmark {
  border: 2px solid rgb(100, 82, 231);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.9rem;
  height: 2.4rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.togggleslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.togggleslider:before {
  position: absolute;
  content: "";
  height: 1.9rem;
  width: 1.9rem;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.togggleslider {
  background-color: rgb(100, 82, 231);
}

.togggleinput:focus+.togggleslider {
  box-shadow: 0 0 1px rgb(100, 82, 231);
}

.togggleinput:checked+.togggleslider:before {
  -webkit-transform: translate(14px, -50%);
  -ms-transform: translate(14px, -50%);
  transform: translate(14px, -50%);
}

.togggleslider:before {
  border-radius: 50%;
}

.radiobutton label {
  display: block;
  position: relative;
  height: 2.6rem;
  width: 2.6rem;
}

.radioinput {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 2.6rem;
  height: 2.6rem;
}

.radiocheck {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border: 1.8px solid #ddd;

  border-radius: 50%;
  transition: 0.4s all;
}

.radiocheck::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  background: #ddd;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  border-radius: 50%;
  width: 1.5rem;
}

.radioinput:checked~.radiocheck {
  border-color: rgb(100, 82, 231);
}

.radioinput:checked~.radiocheck::before {
  background-color: rgb(100, 82, 231);
}

.backgroundblur {
  background-color: white;
  filter: blur(0.4rem);
  -webkit-filter: blur(0.4rem);
}

.trasition {
  transition: 0.5s all;
}

.trasition-e {
  transition: 0.5s all ease;
}

.sidebar {
  font-size: 1.4rem;
  font-weight: 600;
  color: #e5e5e5;
}

.sidebar p {
  padding-top: 1rem;
  text-align: left;
  padding-left: 3.7rem;
  padding-bottom: 1rem;
}

.roomtable {
  font-size: 14px;
}

.roomtable th,
.roomtable td {
  padding: 20px 5px;
  text-align: center;
}

.roomtable thead th {
  font-weight: 500;
  color: rgb(121, 124, 141);
  background-color: rgb(244, 245, 247);
}

.roomtable .activetr {
  transform: scale(1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.serveytable {
  font-size: 14px;
}

.serveytable th {
  padding: 20px 5px;
  text-align: center;
}

.serveytable td {
  vertical-align: middle;
  padding: 7px 5px;
  text-align: center;
}

.serveytable thead th {
  font-weight: 500;
  color: rgb(121, 124, 141);
  background-color: rgb(244, 245, 247);
}

.serveytable .activetr {
  transform: scale(1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

select {
  background: white;
}

.survey-btn-active {
  padding: 10px 8px;
  background-color: #f5f7f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.hover {
  opacity: 0;
  backface-visibility: hidden;
  bottom: -40%;
  overflow: hidden;
  transition: all 0.5s;
  transform-origin: bottom;
}

.perents:hover .hover {
  bottom: 35%;

  opacity: 1;
  backface-visibility: visible;
}

.bar::before {
  content: "";
  background: inherit;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 133px;
  top: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;
  box-shadow: -1px 3px 3px -1px rgb(0 0 0 / 25%);
}

.displayin {
  opacity: 1 !important;
  visibility: visible !important;
}

.tabin {
  opacity: 1 !important;
  visibility: visible !important;
  height: 375px;
}

/* app webapp users style */

.active {
  border: 1px solid;
  border-radius: 6px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}

.img {
  opacity: 0.5;
  width: 15px;
  height: 15px;
}

.i:hover .icon-name {
  display: inline;
}

.i:hover .img {
  opacity: 1;
}

.icon-name {
  display: none;
  position: relative;
  background-color: black;
}

.icon-name::before {
  content: "";
  background: inherit;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 12px;
  top: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;
}

.displayin {
  opacity: 1 !important;
  visibility: visible !important;
}

button {
  outline: none !important;
}

.active {
  border: 1px solid;
  border-radius: 6px;
}

.mainsidebar-width {
  width: 23rem;
}

.hiddenlogo {
  display: none;
}

.spaker::before {
  content: "";
  background: inherit;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 118px;
  top: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;
  box-shadow: -1px 3px 3px -1px rgb(0 0 0 / 25%);
}

.logo::before {
  content: "";
  background: inherit;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 109px;
  top: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;
  box-shadow: -1px 3px 3px -1px rgb(0 0 0 / 25%);
}

/* input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgb(0 0 0 / 11%);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 11%);
  border-bottom: 3px solid rgba(10, 119, 10, 0.959);
}
input:focus:invalid {
  border-bottom: 3px solid rgba(59, 36, 158, 0.959);
} */

input:invalid+.fa {
  filter: grayscale(1) !important;

  opacity: 0.5;
}

.fa {
  filter: grayscale(0) !important;
}

.sponsors::before {
  content: "";
  background: inherit;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 110px;
  top: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;
  box-shadow: -1px 3px 3px -1px rgb(0 0 0 / 25%);
}

.overlay2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999999;
}

.fields-hover:hover {
  border: 1px dashed #a5a4bd;
}

/* event app 1 hover */
.hover-img {
  opacity: 0;
  backface-visibility: hidden;
  bottom: -50%;
  left: 40%;
  overflow: hidden;
  transition: all 0.5s;
  transform-origin: bottom;
}

.event-perents:hover .hover-img {
  bottom: 40%;

  opacity: 1;
  backface-visibility: visible;
}

.event-perents:hover .event-img {
  opacity: 0.5;
}

/* SLIDER */
.section {
  height: 100%;
  width: 100%;
}

.landing-page-side-bar {
  width: 530px;
}

.campain-thead th {
  padding: 15px 0;
}

.campain-thead tr {
  padding: 0px 10px;
}

.inputtable3 td {
  vertical-align: middle;
  padding: 1.1rem 1rem !important;
}

.campain-i img {
  opacity: 1;
  filter: grayscale(1);
}

.campain-i:hover .icon-name {
  display: inline;
}

.campain-i:hover img {
  filter: grayscale(0);
}

.toolbar {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.campain-perent:hover .toolbar {
  opacity: 1;
  visibility: visible;
}

.hoverSend-btn:hover {
  background: #6452e7 !important;
}

.user-option {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 9px;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.user-option button {
  /* padding: 7px 20px; */
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 10px 5px 10px 20px;
  text-align: left;
  outline: none;
  border: none;
}

.user-option .active {
  background-color: #f7f7f7;
}

.open {
  opacity: 1 !important;
  visibility: visible !important;
}

.slots-date {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.slots-date::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.edite {
  transition: all 0.5s ease;
}

.edite:hover {
  background-color: rgba(100, 82, 231) !important;
}

.edite:hover svg {
  fill: white;
}

.planePaper {
  transition: all 0.5s ease;
}

.planePaper:hover {
  background-color: #6c757d !important;
}

.planePaper:hover svg {
  fill: white;
}

.trush {
  transition: all 0.5s ease;
}

.trush:hover {
  background-color: red !important;
}

.trush:hover svg {
  fill: white;
}

.cancleBg {
  background-color: #373a3c;
}

.cancleBg:hover {
  background-color: rgb(255, 0, 0) !important;
}

/* carousel */
.owl-carousel {
  position: relative;
  padding: 20px 20px;
}

.owl-item {
  border: none !important;
  display: flex;
  justify-content: center;
}

.item {
  width: 100%;
}

.owl-nav {
  height: 0 !important;
}

.owl-prev span {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 7px;
  line-height: 1.1;
  border-radius: 3px;
  border: 1px solid #999;
}

.owl-next span {
  position: absolute;
  right: 0;
  top: 40%;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 7px;
  line-height: 1.1;
  border-radius: 3px;
  border: 1px solid #999;
}

.font-box {
  right: 0;
  top: -260%;
  align-items: flex-start;
  width: 170px;
  max-height: 200px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.triger {
  max-height: 0px !important;
}

.dropdownitem,
.dropdownitem2,
.dropdownitem3,
.dropdownitem4,
.dropdownitem5,
.dropdownitem6,
.dropdownitem7,
.dropdownitem8,
.dropdownitem9,
.dropdownitem10,
.dropdownitem11,
.dropdownitem12,
.dropdownitem13,
.dropdownitem14,
.dropdownitem15,
.dropdownitem16,
.dropdownitem17,
.dropdownitem18,
.dropdownitem19,
.dropdownitem20,
.dropdownitem21,
.dropAutoWidth,
.dropdownitem22,
.dropdownitem23,
.dropdownitem24,
.dropAutoWidth2 {
  transition: all 0.6s;
}

.img,
.img2,
.img3 {
  transition: all 0.5s ease;
}

.i {
  transform: rotate(0deg) !important;
}

.image-deatiles {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 0 10px;
  bottom: -20%;
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(221, 217, 217);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
}

.image-content {
  cursor: grab;
}

.image-content:hover {
  box-shadow: rgb(0 0 0 / 35%) 0px 6px 10px;
  outline: rgb(221, 221, 221) solid 1px;
}

.image-content:hover .image-deatiles {
  bottom: 0%;
}

.upload-i-dote {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  border-radius: 20px;
  height: 21px;
  top: 10px;
  left: 46px;
  background: white;
  color: inherit;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
}

.uplode-i-delete {
  color: rgb(255, 0, 0);
  position: absolute;
  top: 32px;
  left: 10px;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.image-dropdown {
  top: 0;
}

.uplode-content:hover .upload-i-dote {
  opacity: 1;
  visibility: visible;
}

.uplode-content:hover .uplode-i-delete {
  opacity: 1 !important;
  visibility: visible !important;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.icon-trush,
.icon-duplicate,
.icon-close {
  transition: all 0.4s ease;
}

.icon-trush:hover {
  background-color: rgb(194, 40, 44) !important;
}

.icon-trush:hover svg {
  fill: rgb(255, 255, 255);
}

.icon-duplicate:hover {
  background-color: rgb(80, 86, 89) !important;
  color: rgb(255, 255, 255);
}

.icon-duplicate:hover svg {
  fill: rgb(255, 255, 255);
}

.icon-close:hover {
  background-color: rgb(80, 86, 89) !important;
  color: rgb(255, 255, 255);
}

.icon-close:hover svg {
  fill: rgb(255, 255, 255);
}

.nav-active {
  border: 1px solid;
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) transparent !important;
  background-color: rgb(249, 249, 249) !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgba(238, 239, 239);
}

.blockbilder-row-tool {
  background-color: rgb(238, 238, 238);
  cursor: -webkit-grab;
  position: relative;
  height: 100%;
}

.blockbilder-perent {
  background-color: rgb(238, 238, 238);

  height: 50px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.blockbilder-row-tool::after {
  content: " ";
  z-index: 100;
  position: absolute;
  inset: 1px;
  outline: rgb(204, 204, 204) solid 1px;
}

.blockbilder-perent:hover {
  opacity: 1;
  box-shadow: rgb(0 0 0 / 35%) 0px 1px 5px;
}

.width-lable-option,
.padding-lable-option,
.padding-lable-option2,
.padding-lable-option5,
.width-border-option,
.width-border-option6,
.padding-lable-option7,
.padding-lable-option9 {
  width: 100%;

  transition: all 0.4s;
}

.more-width-lable-option {
  max-height: 0px;
  overflow: hidden;

  transition: all 0.4s;
}


.more-border-lable-option,
.more-padding-lable-option,
.more-padding-lable-option2,
.more-padding-lable-option5,
.more-border-lable-option6,
.more-padding-lable-option7,
.more-padding-lable-option9 {
  max-height: 0px;
  overflow: hidden;

  transition: all 0.6s;
}

.open-lableOption {
  max-height: 150px;
  opacity: 1 !important;
  visibility: visible !important;
}

.open-BorderOption {
  max-height: 210px;
  opacity: 1 !important;
  visibility: visible !important;
}

.open-padding-option {
  max-height: 150px;
  opacity: 1 !important;
  visibility: visible !important;
}

.action-container {
  position: fixed;
  left: 12px;
  right: auto;
  bottom: 12px;
  z-index: 105;
  border: 1px solid rgb(59, 62, 67);
  background-color: rgb(41, 48, 57);
  height: 42px;
  z-index: 999999999999999;
}

.actionBtn {
  opacity: 0.9;
}

.actionBtn:hover {
  opacity: 1;
}

.actionBtn:hover svg {
  fill: #DEDFE1;
}

.action-tip {
  padding: 5px 12px;
  background-color: rgb(41, 48, 57);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  text-transform: capitalize;
  position: absolute;
  top: -40px;
  left: -12px;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all .4s ease;
}

.action-tip::after {
  content: "";
  background: inherit;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  left: 16px;
  bottom: -4px;
  transform: rotate(135deg);
  border-radius: 0 0 0 2px;

}

.c:hover .action-tip {
  opacity: 1 !important;
  visibility: visible !important;
}

.blockbuilder-hover::after {
  content: '';
  opacity: 1;
  z-index: 1000000;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  outline: #6452e7 solid 1px;
}

.blockbilder-l::after {
  content: '';
  opacity: 0;
  z-index: 1000000;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  outline: #6452e7 solid 1px;
}

.blockbilder-l {
  z-index: 10000000;
}

.blockbilder-l::after:hover {
  content: '';
  opacity: 1;
  z-index: 1000000;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  outline: #af8442 solid 1px;
  
}

  .blockbuilder {
    background-image: linear-gradient(45deg,
        rgb(247, 247, 247) 25%,
        transparent 25%),
      linear-gradient(-45deg, rgb(247, 247, 247) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, rgb(247, 247, 247) 75%),
      linear-gradient(-45deg, transparent 75%, rgb(247, 247, 247) 75%);
    background-size: 20px 20px;
    background-position: 0px 0px, 0px 10px, 10px -10px, -10px 0px;
  }

  .blockbuilder-type {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    left: 0;
    border: 1px solid transparent;
  }

  .blockbuilder-type:hover {
    opacity: 1;
  }

  .main-col {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }

  /* .blockbuilder-hover:hover {
    border: 1px solid #6452e7;
  } */

  .blockbuilder-layer-control:hover {
    --tw-bg-opacity: 1 !important;
  }

  .blockbuilder-type:hover .blockbuilder-layer-control {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .blockbuilder-layer-add-row {
    top: 50%;
    right: 0;
    margin-top: -15px;
    position: absolute;
  }

  .blockbuilder-row {
    position: absolute;
    bottom: -24px;
    right: 0;
    z-index: 999;
  }

  .blockbilder-l {
    border: 1px solid transparent;
  }

  .blockbilder-l:hover {
    border: 1px solid #6452e7;
    border-left: 1px solid #6452e7 !important;
    border-right: 1px solid #6452e7 !important;
    border-top: 1px solid #6452e7 !important;


  }

  .blockbilder-l:hover .blockbuilder-type {
    opacity: 1;
  }

  .blockbuilder-layer-drag {
    right: -15px;
    top: 6px;
    opacity: 0;
    cursor: -webkit-grab;
  }

  .elp:hover+.blockbuilder-type {
    opacity: 1 !important;
  }

  .blockbilder-l:hover .blockbuilder-layer-drag {
    opacity: 1 !important;
  }

  .blockbuilder-layer-drag:hover {
    background: #6452e7 !important;
  }

  .blockbuilder-layer-drag-row {
    border-radius: 20px 0px 0px 20px;
    cursor: -webkit-grab;
  }

  .classic-tool:hover {
    box-shadow: rgb(0 0 0 / 35%) 0px 6px 10px;
    border: 1px solid rgb(221, 221, 221);
    cursor: -webkit-grab;
  }

  .sidebar-link:hover {
    background-color: rgb(192, 197, 201);
    color: rgb(73, 80, 87);
    cursor: pointer;
  }

  .active-sidebar {
    background-color: #fff;
  }

  .blockbilder-col {
    background-color: rgb(238, 238, 238);
    height: 50px;
    cursor: -webkit-grab;
    position: relative;
  }

  .blockbilder-col::after {
    content: " ";
    z-index: 100;
    position: absolute;
    inset: 1px;
    outline: rgb(204, 204, 204) solid 2px;
  }

  .blockbilder-perent:hover {
    opacity: 1;
    box-shadow: rgb(0 0 0 / 35%) 0px 1px 5px;
  }

  .blockbuilder-widget-label:hover {
    border-color: #000 !important;
  }

  .blockbuilder-widget-label:hover svg {
    fill: #000 !important;
  }